$cont-item-bg: container(background-color);
$cont-item-width: 85%;
$cont-item-minheight: 100px;
$cont-item-marg-bottom: spacing(halfMore);

.container-el {
  @include clearfix();
  @include size(100%);
  margin-bottom: spacing();
}

.container-el__title {
  text-transform: capitalize;
}

.container-el__item {
  @include syn(base, 12, 0, (''));
  @include syn(small, 6, 0, (float-l));
  @include syn(medium, 4, 0, (''));
}

.container-el__inner-item {
  position: relative;
  width: $cont-item-width;
  min-height: $cont-item-minheight;
  margin: 0 auto $cont-item-marg-bottom auto;

  background-color: $cont-item-bg;

  @each $property, $values in $containers-map {
    @each $label, $value in $values {
      $value-text: quote(inspect($value));
      $label-text: quote(inspect($label));
      $full-text: $label-text + ': ' + $value-text;

      &.__#{$property}_#{$label} {
        #{$property}: #{$value};

        &::after {
          content: $full-text;
        }

        @if ($property == 'padding') {

          &::after {
            @include position(absolute, ($value + spacing(half)));
          }

          &::before {
            @include position(absolute, $value);
            content: '';
            display: block;

            background-color: color(primary, light);
          }

        } @else {

          &::after {
            @include position(absolute, spacing() null null spacing());
          }
        }
      }
    }
  }


  // &.__border_base
}