.sg-pattern-body {
  @include clearfix();
}

.sg-annotations {
  @include clearfix();
  display: block;
  margin: spacing() 0;
}

.has-annotation {
  @include clearfix();
  position: relative;
  cursor: help !important;
  box-shadow: container(box-shadow);
  overflow: visible !important;

  a,
  input { cursor: help; }
}

.annotation-tip {
  @include position(absolute, 0 null null 0);
  @include margin(-10px null null -10px);
  @include size(25px);
  padding-top: 3px;
  display: block;
  z-index: 100;

  text-align: center;
  color: color(mono, lightest);
  font-weight: type(font-weight, bold);

  border-radius: 100%;
  background-color: color(mono, darker);
}


// For the inline code sections
.sg-code a, .sg-annotations a { text-decoration: underline; }

.sg-code pre {
  padding: spacing(half);
  overflow: scroll;
  white-space: -moz-pre-line;
  white-space: -pre-line;
  white-space: -o-pre-line;
  white-space: pre-line;

  font-family: type(font-family, mono);

  border: container(border, thick);
}

.clear { @include clearfix(); }

.sg-code-contains {
  margin-bottom: 1rem;
  font-size: 85%;
  color: #808080;
}

.sg-code-head {
  color: #808080;
  font-size: 1em;
}

