@each $property, $elements in $typography-map {

  @each $element, $value in $elements {
    $cell-text: quote(inspect($value));

    .type-cell__#{$element}-#{$property} {

      &:after {
        @if ($property == 'margin') {
          content: str-replace($cell-text, ' 0', '');
        } @else {
          content: $cell-text;
        }
      }
    }
  }
}




.b-font-family__example {
  margin-bottom: spacing(double);
}

@each $property, $elements in $typography-map {

  @if ($property == 'font-family') {
    @each $family, $value in $elements {

      .b-font-family__example-#{$family} {
        position: relative;

        text-transform: capitalize;
        font-family: $value;
        font-weight: type(font-weight, bold);

        &:after {
          @include position(absolute, 0 null null calc(100% + 5px));
          content: quote(inspect($value));
          width: em(225px);

          font-weight: type(font-weight);

          @include larger-than(small) { width: em(350px); }

          @include larger-than(medium) { width: em(700px); }
        }
      }

    }
  }
}

