@each $property, $elements in $typography-map {

  @each $element, $value in $elements {
    $cell-text: quote(inspect($value));

    .type-cell__#{$element}-#{$property} {

      &:after {
        @if ($property == 'margin') {
          content: str-replace($cell-text, ' 0', '');
        } @else {
          content: $cell-text;
        }
      }
    }
  }
}

// type-cell__h2-font-size
