<a href="javascript:void(0)" class="btn">Button</a>

<br><br>

<a href="javascript:void(0)" class="btn __btn-alt">Alternate Button</a>

<br><br>

<a href="javascript:void(0)" class="btn __btn-small">Small Button</a>

<br><br>

<a href="javascript:void(0)" class="btn __btn-large">Large Button</a>

<br><br>

<a href="javascript:void(0)" class="btn __btn-disabled">Disabled Button</a>
