&lt;!-- Begin .header --&gt;
&lt;header role=&quot;banner&quot;&gt;
&Tab;&lt;div class=&quot;header__container&quot;&gt;
    &lt;div class=&quot;header__logo&quot;&gt;
      {{&gt; base-logo }}
    &lt;/div&gt;
    
    &lt;div class=&quot;header__nav&quot;&gt;
      {{&gt; components-primary-nav }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;
