<!-- Begin Footer -->
<footer class="p-footer" role="contentinfo">
	<div class="p-footer__container">
    <div class="p-footer__links">
      {{> components-footer-nav }}
    </div>

      <div class="p-footer__copyright">
        <p>
          &copy; 2015 Company Name. All rights reserved.
        </p>
      </div>
    </div>
  </div>
  
</footer>
<!-- End Footer -->
