<p><a href="javascript:void(0)" class="btn">Button</a></p>
<p><a href="javascript:void(0)" class="btn --btn-alt">Alternate Button</a></p>

<p><a href="javascript:void(0)" class="btn --btn-small">Small Button</a></p>
<p><a href="javascript:void(0)" class="btn --btn-large">Large Button</a></p>

<p><a href="javascript:void(0)" class="btn --btn-disabled">Disabled Button</a></p>