body {
  margin: 0 auto;
  padding: spacing();

  background: color(mono, white);

  // Add responsive widths here as modifier classes
  // And then have Javascript to trigger these classes
  // Put these buttons on the side menu?
}

/* Layout Container */
[role=main] {
  max-width: breakpoint('max-width');
}
