body { background: color(primary, lightest); }

[role=main] {
  padding: 0.5rem 0.5rem 2rem;
  overflow: hidden;
}

/* Layout Container */
.pl, .lc, .header, [role=main] {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0.5rem;
}
