/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  clear: both;
  overflow: hidden;
  background: #131313;
  color: white;
  line-height: 1.2;
}
.footer .lc, .footer .header, .footer [role=main] {
  padding: 1rem 1rem 0;
}
.footer a {
  color: #f9f9f9;
}

.nav-footer {
  margin: -1rem -1rem 1rem;
}
.nav-footer li {
  border-bottom: 1px solid #333333;
}
@media all and (min-width: 46.8em) {
  .nav-footer li {
    border: 0;
    float: left;
  }
}
.nav-footer a {
  display: block;
  padding: 1rem;
}

@media all and (min-width: 46.8em) {
  .copyright {
    float: right;
  }
}
