$header-bp: medium;

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
// The whole header container
header {
  @include clearfix();
  padding: 0;

  background: color(primary, lightest);
  border-bottom: container(border);
}

.header__container {
  @include row-container();
  padding: spacing() spacing(half);
}

.logo {
  float: left;
  max-width: 8rem;
  margin: spacing(half);

  @include larger-than($header-bp) {
    max-width: 9rem;
  }
}

.nav-toggle {
  float: right;
  display: block;
  padding: spacing() spacing() spacing();
  border-left: 1px solid #dbdbdb;

  @include larger-than($header-bp) {
    display: none;
  }
}

.search-form {
  overflow: hidden;
  max-height: 0;
}
@media all and (min-width: 46.8em) {
  .search-form {
    float: right;
    max-height: none;
    margin: 0.65em 0.5em 0 0;
  }
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.nav {
  clear: both;
  overflow: hidden;
  max-height: 0;
}
.nav a {
  display: block;
  padding: 1rem;
  border-top: 1px solid #eeeeee;
}
.nav.active {
  max-height: 40em;
}
@media all and (min-width: 46.8em) {
  .nav {
    max-height: none;
    float: right;
    clear: none;

    ul { text-decoration: none; }
  }
  .nav li {
    float: left;
  }
  .nav a {
    border: 0;
  }
}
