&lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn __btn-alt&quot;&gt;Alternate&lt;/a&gt;

&lt;br&gt;&lt;br&gt;

&lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn __btn-success&quot;&gt;Success&lt;/a&gt;

&lt;br&gt;&lt;br&gt;

&lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn __btn-info&quot;&gt;Info&lt;/a&gt;

&lt;br&gt;&lt;br&gt;

&lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn __btn-warning&quot;&gt;Warning&lt;/a&gt;

&lt;br&gt;&lt;br&gt;

&lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn __btn-alert&quot;&gt;Alert&lt;/a&gt;
