<form action="#" method="post" class="inline-form search-form">           
  <fieldset>
    <legend class="h-is-vishidden">Search</legend>
    <label for="search-field" class="h-is-vishidden">Search</label>
    <input type="search" placeholder="Search" id="search-field" class="search-field" />
  </fieldset>
</form>

<!--
<button class="search-submit">
  <span class="icon-search" aria-hidden="true"></span>
  <span class="h-is-vishidden">Search</span>
</button>
-->