<section class="p-related-posts">
	<h4 class="p-related-posts__title">
    Related Posts
  </h4>
	
  <ul class="p-related-posts__list">	
    {{# latest-posts }}
      <li>
        <a href="javascript:void(0)">{{ headline.medium }}</a>
      </li>
    {{/ latest-posts }}
	</ul>
</section>