<div class="page" id="page">
	{{> patterns-header }}
	<div role="main">
		<div class="l-sidebar">
			<div class="l-sidebar__main">
				{{> patterns-article-header }}

				{{> patterns-article-body }}
				
				{{> components-social-share }}
			</div><!--end l-main-->

			<div class="l-sidebar__sidebar">
				{{> patterns-related-posts }}
			</div><!--end l-sidebar-->
		</div><!--end l-two-col-->
	</div><!--End role=main-->
	{{> patterns-footer }}
</div>
