<div class="page" id="page">
	{{> patterns-header }}
	<div role="main">
		
		<div class="l-col__single">
			<h1 class="section-title">Our Outdoor Blog</h1>
		</div>
		
		<div class="l-sidebar">
			<div class="l-sidebar__main">
				<section class="section latest-posts">
					
					<ul class="post-list">
						{{# latest-posts}}
							<li>{{> components-thumbnail-block }}</li>
						{{/ latest-posts}}
					</ul>
					<a href="#" class="text-btn">View more posts</a>
				</section>
				{{> components-pagination }}
			</div><!--end l-main-->

			<div class="l-sidebar__sidebar">
				<h5>Sidebar stuff here!</h5>
			</div><!--end l-sidebar-->
		</div><!--end two-col-->
	</div><!--End role=main-->
	{{> patterns-footer }}
</div>