<div class="l-three-col">
	
	<div class="l-three-col__item __col-example">
    <h5>
      Small: Full
    </h5>

    <h5>
      Medium: 1/3
    </h5> 
  </div>
	
  <div class="l-three-col__item __col-example">
    <h5>
      Small: Full
    </h5>

    <h5>
      Medium: 1/3
    </h5> 
  </div>
	
  <div class="l-three-col__item __col-example">
    <h5>
      Small: Full
    </h5>

    <h5>
      Medium: 1/3
    </h5> 
  </div>
</div>