<fieldset>
  <div class="form__container">
      <label class="form__label" for="text">Text Input <abbr title="Required">*</abbr></label>
      <input class="form__input" id="text" type="text" placeholder="Text Input">
  </div>

  <div class="form__container">
      <label class="form__label" for="password">Password</label>
      <input class="form__input" id="password" type="password" placeholder="Type your Password">
  </div>

  <div class="form__container">
      <label class="form__label" for="webaddress">Web Address</label>
      <input class="form__input" id="webaddress" type="url" placeholder="http://yoursite.com">
  </div>

  <div class="form__container">
      <label class="form__label" for="emailaddress">Email Address</label>
      <input class="form__input" id="emailaddress" type="email" placeholder="name@email.com">
  </div>

  <div class="form__container">
      <label class="form__label" for="search">Search</label>
      <input class="form__input" id="search" type="search" placeholder="Enter Search Term">
  </div>

  <div class="form__container">
      <label class="form__label" for="text">Number Input <abbr title="Required">*</abbr></label>
      <input class="form__input" id="text" type="number" placeholder="Enter a Number" pattern="[0-9]*">
  </div>

  <div class="form__container">
      <label class="form__label" for="textarea">Textarea</label>
      <textarea class="form__input" id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
  </div>

  <div class="form__container">
      <label class="form__label h-error">Error Input</label>
      <input class="form__input h-border-error" type="text" placeholder="Text Input">
  </div>

  <div class="form__container">
      <label class="form__label h-valid">Valid</label>
      <input class="form__input h-border-valid" type="text" placeholder="Text Input">
  </div>
</fieldset>