<form action="#">
    <fieldset class="options">
        <legend class="form__legend">Checkbox <abbr title="Required">*</abbr></legend>
        <ul>
            <li>
              <label class="form__label--checkbox" for="checkbox1">
                <input class="form__input--checkbox" id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Choice A
              </label>
            </li>

            <li>
              <label class="form__label--checkbox" for="checkbox2">
                <input class="form__input--checkbox" id="checkbox2" name="checkbox" type="checkbox"> Choice B
              </label>
            </li>

            <li>
              <label class="form__label--checkbox" for="checkbox3">
                <input class="form__input--checkbox" id="checkbox3" name="checkbox" type="checkbox"> Choice C
              </label>
            </li>
        </ul>
    </fieldset>
</form>