<form action="#">
    <fieldset class="options">
        <legend class="form__legend">Radio</legend>
        <ul>
            <li>
              <label class="form__label--radio" for="radio1">
                <input class="form__input--radio" id="radio1" name="radio" type="radio" class="radio" checked="checked"> Option 1
              </label>
            </li>
            
            <li>
              <label class="form__label--radio" for="radio2">
                <input class="form__input--radio" id="radio2" name="radio" type="radio" class="radio"> Option 2
              </label>
            </li>
            
            <li>
              <label class="form__label--radio" for="radio3">
                <input class="form__input--radio" id="radio3" name="radio" type="radio" class="radio"> Option 3
              </label>
            </li>
        </ul>
    </fieldset>
</form>