<div id="container">
	{{> patterns-header }}
	<div role="main">
		
		<div class="l-col__single">
			{{# hero }}
				{{> components-inset-block }}
			{{/ hero}}
		</div>

		<div class="l-three-col">
			{{# touts}}
				<div class="l-three-col__item">
					{{> components-inset-block }}
				</div>
			{{/ touts}}
		</div><!--end 3up-->

		<hr />

		<div class="l-sidebar">
			<div class="l-sidebar__main">
				<section class="section latest-posts">
					<h2 class="section-title">Latest Posts</h2>
					<ul class="post-list">
						{{# latest-posts }}
							<li>{{> components-thumbnail-block }}</li>
						{{/ latest-posts }}
					</ul>
					<a href="#" class="text-btn">View more posts</a>
				</section>
			</div><!--end .l-main-->

			<div class="l-sidebar__sidebar">
				<h5>Sidebar stuff here!</h5>
			</div><!--end .l-sidebar-->
		</div><!--end .l-two-col-->
	</div><!--End role=main-->
	{{> patterns-footer }}
</div>
