<div id="container">
	{{> organisms-header }}
	<div role="main">
		
		<div class="layout-single">
			{{# hero }}
				{{> molecules-inset-block }}
			{{/ hero}}
		</div>

		<div class="three-col-layout">
			{{# touts}}
				<div class="three-col-layout__item">
					{{> molecules-inset-block }}
				</div>
			{{/ touts}}
		</div><!--end 3up-->

		<hr />

		<div class="sidebar-layout">
			<div class="sidebar-layout__main">
				<section class="section latest-posts">
					<h2 class="section-title">Latest Posts</h2>
					<ul class="post-list">
						{{# latest-posts }}
							<li>{{> molecules-thumbnail-block }}</li>
						{{/ latest-posts }}
					</ul>
					<a href="#" class="text-btn">View more posts</a>
				</section>
			</div><!--end .l-main-->

			<div class="sidebar-layout__sidebar">
				<h5>Sidebar stuff here!</h5>
			</div><!--end .l-sidebar-->
		</div><!--end .l-two-col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>
