<div class="page" id="page">
	{{> patterns-header }}
	<div role="main">
		
		<div class="layout-single">
			<h1 class="section-title">Our Outdoor Blog</h1>
		</div>
		
		<div class="sidebar-layout">
			<div class="sidebar-layout__main">
				<section class="section latest-posts">
					
					<ul class="post-list">
						<li>{{> components-thumbnail-block }}</li>
						<li>{{> components-thumbnail-block }}</li>
						<li>{{> components-thumbnail-block }}</li>
					</ul>
					<a href="javascript:void(0)" class="text-btn">View more posts</a>
				</section>
				{{> components-pagination }}
			</div><!--end l-main-->

			<div class="sidebar-layout__sidebar">
				<h5>Sidebar stuff here!</h5>
			</div><!--end l-sidebar-->
		</div><!--end two-col-->
	</div><!--End role=main-->
	{{> patterns-footer }}
</div>