<div class="page" id="page">
	{{> patterns-header }}
	<div role="main">
		<div class="sidebar-layout">
			<div class="sidebar-layout__main">
				<article class="article">
					<header class="article-header">
						<h1>Article Headline Lorem ipsum dolor sit aweofij</h1>
						{{> components-byline-author-time }}
					</header>
					{{> patterns-article-body }}
				</article><!--end .article-->
				{{> components-social-share }}
			</div><!--end l-main-->

			<div class="sidebar-layout__sidebar">
				{{> patterns-related-posts }}
			</div><!--end l-sidebar-->
		</div><!--end l-two-col-->
	</div><!--End role=main-->
	{{> patterns-footer }}
</div>
