<div class="sidebar-layout">
	
	<div class="sidebar-layout__main __col-example">
    <h5>
      Small: Full
    </h5>

    <h5>
      Medium: 2/3
    </h5>
  </div>

	<div class="sidebar-layout__sidebar __col-example">
    <h5>
      Small: Full
    </h5>

    <h5>
      Medium: 1/3
    </h5>
  </div>
</div>