<div class="l-sidebar">
	
	<div class="l-sidebar__main __col-example">
    <h5>
      Small: Full
    </h5>

    <h5>
      Medium: 2/3
    </h5>
  </div>

	<div class="l-sidebar__sidebar __col-example">
    <h5>
      Small: Full
    </h5>

    <h5>
      Medium: 1/3
    </h5>
  </div>
</div>