<div class="three-col-layout">
	
	<div class="three-col-layout__item __col-example">
    <h5>
      Small: Full
    </h5>

    <h5>
      Medium: 1/3
    </h5> 
  </div>
	
  <div class="three-col-layout__item __col-example">
    <h5>
      Small: Full
    </h5>

    <h5>
      Medium: 1/3
    </h5> 
  </div>
	
  <div class="three-col-layout__item __col-example">
    <h5>
      Small: Full
    </h5>

    <h5>
      Medium: 1/3
    </h5> 
  </div>
</div>