<ul class="c-social-share">
	<li class="c-social-share__item">
    <a href="#">Like</a>
  </li>
	
  <li class="c-social-share__item">
    <a href="#">Tweet</a>
  </li>
	
  <li class="c-social-share__item">
    <a href="#">Email</a>
  </li>
	
  <li class="c-social-share__item">
    <a href="#">Comment</a>
  </li>
</ul>