$sg-menu-width: em(225px);
$sg-menu-transition: 0.5s;

$sg-menu-item-border: container(border);
$sg-menu-item-height: 50px;


$sg-tier-1-bg: color(mono, lightest);
$sg-tier-1-padding: spacing() null spacing() spacing(half);

$sg-tier-2-bg: color(primary, lightest);
$sg-tier-2-padding: spacing() null spacing() spacing();

$sg-tier-3-bg: color(primary, lighter);
$sg-tier-3-padding: 0 0 0 spacing(half);

.sg-nav-intro {
  padding: spacing(half) spacing();

  border-bottom: $sg-menu-item-border;
}

.sg-nav-title {
  margin: spacing(third) 0 spacing(half) 0;
}

/* Header */
.sg-header {
  @include transition($sg-menu-transition);
  @include position(fixed, 0 null null 0);
  @include size($sg-menu-width 100%);
  overflow-y: scroll;
  overflow-x: scroll;
  z-index: 2;

  background: $sg-tier-1-bg;
  border-right: container(border);

  a,
  li,
  span { font-family: type(font-family, base); }

  #patternlab-html:not(.show-menu) & {
    @include smaller-than(medium) {
      @include transition($sg-menu-transition);
      @include transform(translateX($sg-menu-width * -1));
    }
  }
}

.sg-header ul,
.sg-header ol {
  @include margin(0 0 0 null);
  padding: 0;
}


// Large container around the pattern nav area
.sg-nav-container {
  max-width: $sg-menu-width;
  overflow-x: hidden;
  box-sizing: border-box;

  // All link items in the side nav
  a {
    @include clearfix();
    display: block;

    text-decoration: none;
    color: color(action, dark);
    font-weight: type(font-weight, bold);
  }
}


// All li elements in the side menu for components, not what's below them
.sg-nav li {
  max-width: $sg-menu-width;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  padding: 0;

  list-style: none;
}

.sg-item-arrow {
  @include transition($sg-menu-transition);
  @include position(absolute, spacing(third) spacing(third) null null);
  font-size: type(font-size, h4) !important;

  [aria-expanded=true] > &,
  [aria-expanded=true] + & {
    @include transition($sg-menu-transition);
    @include transform(rotate(180deg));
  }
}

// Top-level pattern items that hold all their sub-menu items
.sg-main-item {
  @include padding(spacing() spacing(half));
  max-width: $sg-menu-width;
  box-sizing: border-box;
  width: 100%;

  border-bottom: $sg-menu-item-border;
}

// The isolated text of the top-tier menu items
.sg-main-item-text {
  @include padding($sg-tier-1-padding);
  display: block;
}

// Menus for the different sections in each main category
// e.g. second tier lists 
// Global, Text, etc in Atoms, etc
.sg-nav__sections {
  background: $sg-tier-2-bg;

  li {
    padding: 0;

    border-bottom: container(border);
  }
}

// Specific text in each item for the sub-menus
.sg-nav__section-text {
  @include padding($sg-tier-2-padding);
  display: block;
}

// The sub-menus in the main sections
// e.g. third tier lists
// Headings, Subheadings, etc in the Text section
.sg-nav__sub-items {
  background: $sg-tier-3-bg;

  li { padding: $sg-tier-3-padding; }
}

// For the toggling of menu items
[aria-hidden='true'],
[data-a11y-toggle]:not([aria-controls]) {
  display: none;
}



// Search in the main nav

// The input for the search field
.tt-input {
  max-width: $sg-menu-width;
}

// The dropdown for the search results
.tt-dropdown-menu {
  max-width: $sg-menu-width;
}