
$sg-annot-height: 45%;


// Container for the annotation and code views
.sg-view-container {
  @include transition($sg-menu-transition);
  @include position(fixed, auto 0 0 null);
  @include size(calc(100% - #{$sg-menu-width}) $sg-annot-height);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 2;
  padding: spacing();
  
  font-family: type(font-family, base);
  line-height: type(line-height);
  
  background: rgba(color(mono, darkest), 0.9);
  color: color(mono, lightest);

  #patternlab-html:not(.show-menu) & {
    @include smaller-than(medium) {
      @include transition($sg-menu-transition);
      width: 100%;
    }
  }
}

.sg-view-container a { color: color(action, light); }

.sg-view-container pre { padding: 0 spacing(); }

.sg-view-container.anim-ready {
  @include transition(bottom 0.3s ease-out);
}

.sg-view-close {
  width: 100%;
  margin-bottom: -10px;
}

.sg-view-close-btn {
  display: block;

  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
}

.sg-comment-container {
  padding-bottom: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#sg-code-markup {
  padding-top: 10px;
}

#sg-code-tabs {
  @include clearfix();
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    padding: spacing(half) spacing();
    cursor: pointer;
    
    font-size: type(font-size, h5);
    font-weight: type(font-weight, bold);

    background-color: color(mono, darker);
  }
}

.sg-code-title-active { background-color: color(action, light) !important; }

/* 
#sg-code-loader {
  display: none;
  position: absolute;
  left: 45%;
  top: 20%;
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #000;
  z-index: 100;
}
 */




