$pl-smallest-screen: em(320px);


#sg-viewport[data-screen="*"] {
  @include transition(anim(time));
}

@each $label, $width in $breakpoint-map {
  #sg-viewport[data-screen="#{$label}"] {
    max-width: $width;
  }
}


#sg-viewport[data-screen="smallest"] { max-width: $pl-smallest-screen; }

#sg-viewport[data-screen="full"] { max-width: none; }
