<p class="h-error">This is what error text looks like</p>
<p class="h-valid">This is what valid text looks like</p>
<p class="h-warn">This is what warning text looks like</p>
<p class="h-info">This is what information text looks like.</p>