&lt;p class=&quot;h-error&quot;&gt;This is what error text looks like&lt;/p&gt;
&lt;p class=&quot;h-valid&quot;&gt;This is what valid text looks like&lt;/p&gt;
&lt;p class=&quot;h-warn&quot;&gt;This is what warning text looks like&lt;/p&gt;
&lt;p class=&quot;h-info&quot;&gt;This is what information text looks like.&lt;/p&gt;