<div class="c-block--thumb">
  <a href="javascript:void(0)" class="b-inner">
		<div class="c-block__thumb">
			<img src="{{ img.square.src }}" alt="{{ img.landscape-16x9.alt }}" />
		</div>
		<div class="c-block__text">
			<h4 class="c-block__headline">{{ headline.short }}</h4>
			<p class="c-block__excerpt">{{ excerpt.medium }}</p>
		</div>
	</a>
</div>