<div class="block block--thumb">
  <a href="javascript:void(0)" class="b-inner">
		<div class="block__thumb">
			{{> base-square }}
		</div>
		<div class="block__text">
			<h4 class="block__headline">{{ headline.short }}</h4>
			<p class="block__excerpt">{{ excerpt.medium }}</p>
		</div>
	</a>
</div>