<div class="block block--inset">
    <a href="javascript:void(0)" class="inner">
		<div class="block__thumb">
			{{> base-landscape-4x3 }} 
		</div>
		<div class="block__text">
			<h4 class="block__headline">{{ headline.short }}</h4>
		</div>
	</a>
</div>