<a href="javascript:void(0)" class="btn __btn-success">Success Button</a>

<br><br>

<a href="javascript:void(0)" class="btn __btn-info">Info Button</a>

<br><br>

<a href="javascript:void(0)" class="btn __btn-warning">Warning Button</a>

<br><br>

<a href="javascript:void(0)" class="btn __btn-alert">Alert Button</a>
