&lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn __btn-success&quot;&gt;Success Button&lt;/a&gt;

&lt;br&gt;&lt;br&gt;

&lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn __btn-info&quot;&gt;Info Button&lt;/a&gt;

&lt;br&gt;&lt;br&gt;

&lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn __btn-warning&quot;&gt;Warning Button&lt;/a&gt;

&lt;br&gt;&lt;br&gt;

&lt;a href=&quot;javascript:void(0)&quot; class=&quot;btn __btn-alert&quot;&gt;Alert Button&lt;/a&gt;
