&lt;p class=&quot;intro&quot;&gt;
  {{ article-content.intro }}
&lt;/p&gt;

&lt;p&gt;
  {{ article-content.p1 }}
&lt;/p&gt;

{{&gt; base-figure }} 

&lt;p&gt;
  {{ article-content.p2 }}
&lt;/p&gt;

{{&gt; base-blockquote }} 

&lt;p&gt;
  {{ article-content.p3 }}
&lt;/p&gt;

&lt;p&gt;
  {{ article-content.p4 }}
&lt;/p&gt;

&lt;p&gt;
  {{ article-content.p5 }}
&lt;/p&gt;
