&lt;div class=&quot;c-block--inset&quot;&gt;
    &lt;a href=&quot;javascript:void(0)&quot; class=&quot;inner&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;c-block__thumb&quot;&gt;
&Tab;&Tab;&Tab;{{&gt; base-landscape-4x3 }} 
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;c-block__text&quot;&gt;
&Tab;&Tab;&Tab;&lt;h5 class=&quot;c-block__headline&quot;&gt;{{ headline.short }}&lt;/h5&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/a&gt;
&lt;/div&gt;