/* 

1) Thumbnail Block - Small image, headline, paragraph
3) Inset block - Smaller image, text always overlayed on bottom

 */

// Any universal block styles for all variations
.block { overflow: hidden; }

.block p:last-child { margin-bottom: 0; }

.block__headline { line-height: type(line-height, h5); }

.block__text {
  text-align: center;

  @include larger-than(small) { text-align: left; }
}

.block_excerpt { color: color(mono, black); }





// Block Thumbnail with Headline
.block--thumb {

  .block__thumb {
    @include syn(small, 5, 0, (float-l));
    @include syn(medium, 4, 0, (''));
    @include syn(medium, 3, 0, (''));
  }

  .block__text {
    @include syn(small, 7, 0, (border-b pad-sides-2 float-r));
    @include syn(medium, 8, 0, (''));
    @include syn(medium, 9, 0, (pad-vert-1));
  }
}


// Inset Block
.block--inset {
  margin-bottom: spacing(half);
  position: relative;

  .block__text {
    @include position(absolute, null null 0 0);
    width: 100%;
    padding: spacing();

    color: color(mono, white);

    background: rgba(0, 0, 0, 0.5);
  }
}
