.comments li {
  margin-bottom: 1rem;
}

.comment-container {
  overflow: hidden;
  margin-bottom: 1rem;
}

.comment-meta {
  float: left;
  width: 6.5em;
}
.comment-meta img {
  display: block;
  border: 1px solid #eeeeee;
  margin-bottom: 0.5rem;
}

.comment-name {
  font-size: 0.75em;
}

.comment-text {
  margin-left: 9em;
}
