/* Eyebrow */
.eyebrow {
  background: #333333;
  color: white;
  padding: 0.2em;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.eyebrow-image {
  position: relative;
}
.eyebrow-image img {
  position: relative;
  z-index: 0;
}
.eyebrow-image .eyebrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
