.tabs {
  overflow: hidden;
}
.tabs ul {
  display: table;
  width: 100%;
}
.tabs li {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #dddddd;
}
.tabs li:last-child {
  border-right: 0;
}
.tabs a {
  display: block;
  padding: 0.5rem;
  background: gray;
}
.tabs a:hover, .tabs a:focus {
  background: #dddddd;
}
.tabs a.active {
  background: #333333;
  color: white;
}
