&lt;div class=&quot;b-spacing__container&quot;&gt; 
  {{#spacing}}
    &lt;div class=&quot;b-spacing&quot;&gt;
      &lt;h6 class=&quot;b-spacing__title&quot;&gt;
        {{ distance }}
      &lt;/h6&gt;

      &lt;div class=&quot;b-spacing__example b-spacing__{{ distance }}&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  {{/spacing}}
&lt;/div&gt;
