&lt;nav class=&quot;c-nav&quot;&gt;
&Tab;&lt;ul class=&quot;c-nav__menu&quot;&gt;
&Tab;&Tab;&lt;li class=&quot;c-nav__menu-item&quot;&gt;
      &lt;a href=&quot;{{ link.pages-homepage }}&quot;&gt;Home&lt;/a&gt;
    &lt;/li&gt;
&Tab;&Tab;
    &lt;li class=&quot;c-nav__menu-item&quot;&gt;
      &lt;a href=&quot;javascript:void(0)&quot;&gt;About&lt;/a&gt;
    &lt;/li&gt;
&Tab;&Tab;
    &lt;li class=&quot;c-nav__menu-item&quot;&gt;
      &lt;a href=&quot;{{ link.pages-blog }}&quot;&gt;Blog&lt;/a&gt;
    &lt;/li&gt;
&Tab;&Tab;
    &lt;li class=&quot;c-nav__menu-item&quot;&gt;
      &lt;a href=&quot;javascript:void(0)&quot;&gt;Contact&lt;/a&gt;
    &lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
