{{#color-schemes}}
<div class="swatch _{{scheme}}">
	
	<div class="swatch__base"></div>

	<div class="swatch__all-tones">
		{{#color-tones}}
			<div class="swatch__tone _tone-{{tone}}"></div>
		{{/color-tones}}
	</div>

</div>
{{/color-schemes}}

