<div class="b-spacing__container"> 
  {{#spacing}}
    <div class="b-spacing">
      <h6 class="b-spacing__title">
        {{ distance }}
      </h6>

      <div class="b-spacing__example b-spacing__{{ distance }}"></div>
    </div>
  {{/spacing}}
</div>
