<table>
  <thead>
    <th width="30%">
      Element
    </th>

    {{# type-properties }}
      <th>
        {{ name }}
      </th>
    {{/ type-properties }}
  </thead>

  <tbody>
    {{# type-elements }}
      <tr>
        <td>
          <{{ element }}>
            {{ label }}
          </{{ element }}>
        </td>

        {{# type-properties }}
          <td>
            <{{ element }} class="type-cell__{{ element }}-{{ property }}">
            </{{ element }}>
          </td>
        {{/ type-properties }}
      </tr>
    {{/ type-elements }}
  </tbody>
</table>