/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  clear: both;
  overflow: hidden;
  background: #131313;
  color: white;
  line-height: 1.2;
}

.footer__container {
  @include row-container();
  padding: spacing() spacing(half);
}

.footer a {
  color: #f9f9f9;
}

@media all and (min-width: 46.8em) {
  .copyright {
    float: right;
  }
}
