/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.p-footer {
  clear: both;
  overflow: hidden;
  box-sizing: border-b;
  padding: spacing(double) spacing() spacing() spacing();

  color: color(mono, lightest);

  background: color(secondary, darkest);

  a {
    color: color(mono, lightest);
  }
}

.p-footer__links {
  @include syn(base, 12, 0, (marg-b-2));
  @include syn(medium, 7, 0, (inline-b marg-b-0));
}

.p-footer__copyright {
  @include syn(base, 12, 0, (''));
  @include syn(medium, 5, 0, (inline-b float-r align-r));
}
