/* Post List */

// Blocks of the most recent posts, with images
.latest-posts {}

// List of blocks for recent posts
.post-list {
  @include margin(0 0 spacing() 0);
  list-style-type: none;
}



/* Headline List */
// The text-only version of most recent posts
.headline-list {
  @include margin(0 0 spacing() 0);
  list-style-type: none;

  li {
    padding: container(padding, half) 0;
    border-top: container(border);
  }

  &.flush { margin: 0; }
}