// Blockquote
blockquote {
  @include syn(base, 12, 0, (marg-0 marg-b-2 pad-2 pad-l-3));
  @include syn(medium, 6, 0, (float-r marg-l-2));

  color: color(primary, dark);
  font-style: italic;
  font-size: type(font-size, h6);
  line-height: type(line-height, h4);

  border-left: container(border);
}