$btn-bg: color(action);
$btn-text: color(mono, white);
$btn-pad: spacing();
$btn-radius: container(borderRadius, large);
$btn-hover-bg: color(action, hover);
$btn-hover-text: $btn-text;
$btn-trans: anim(time);

$btn-alt-bg: color(mono, white);
$btn-alt-border: 2px solid color(secondary);
$btn-alt-text: color(secondary);
$btn-alt-hover-bg: color(secondary);
$btn-alt-hover-border: $btn-alt-border;
$btn-alt-hover-text: color(mono, white);

$btn-small-pad: spacing();
$btn-small-font: type(font-size, tiny);
$btn-large-pad: spacing(halfMore) spacing(double);
$btn-large-font: type(font-size, h6);

$btn-disabled-bg: color(mono, lightgray);
$btn-disabled-text: color(mono, gray);


.btn {
  @include transition(anim(time));
  display: inline-block;
  padding: $btn-pad;

  line-height: 1;
  color: $btn-text;
  text-align: center;

  border: 0;
  background: $btn-bg;
  border-radius: $btn-radius;

  @include hovers {
    @include transition($btn-trans);

    color: $btn-hover-text;
    text-decoration: none;

    background-color: $btn-hover-bg;
  }
}

.--btn-alt {
  color: $btn-alt-text;

  background-color: $btn-alt-bg;
  border: $btn-alt-border;


  @include hovers {
    color: $btn-alt-hover-text;

    background-color: $btn-alt-hover-bg;
    border: $btn-alt-hover-border;
  }
}

.--btn-small {
  padding: $btn-small-pad;

  font-size: $btn-small-font;
}

.--btn-large {
  padding: $btn-large-pad;

  font-size: $btn-large-font;
}

.--btn-disabled {
  cursor: default;
  color: $btn-disabled-text;

  background: $btn-disabled-bg;

  @include hovers {
    color: $btn-disabled-text;

    background: $btn-disabled-bg;
  }
}
