// Default typography for all elements
body {
  font-family: type(font-family, sans);

  color: color(primary, darkest);
}


/* Links */
a {
  color: color(action);
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus {
  color: color(action, hover);
  text-decoration: underline;
}

/* Headings */
// First, any universal headings styles
h1,
h2,
h3,
h4,
h5,
h6 { font-family: type(font-family, serif); }

h1, .alpha {
  font-size: type(font-size, h1);
  line-height: type(line-height, h1);
}

h2, .beta {
  font-size: type(font-size, h2);
  line-height: type(line-height, h2);
}

h3, .gamma {
  font-size: type(font-size, h3);
  line-height: type(line-height, h3);
}

h4 {
  font-size: type(font-size, h4);
  line-height: type(line-height, h4);
}

h5 {
  font-size: type(font-size, h5);
  line-height: type(line-height, h5);
}

h6 {
  font-size: type(font-size, h6);
  line-height: type(line-height, h6);
}

/* Subheadings */
.subheading {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

/* Text-Related Elements */
p {
  margin-bottom: 1rem;

  font-size: type(font-size);
  line-height: type(line-height);
}

/* Blockquote */
blockquote {
  font-style: italic;
  border-left: 1px solid gray;
  color: gray;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  background: #eeeeee;
  margin: 2rem 0;
}

abbr {
  border-bottom: 1px dotted gray;
  cursor: help;
}



/* Global Font Classes */
.font-secondary {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.intro {
  font-size: 1.0625em;
  font-weight: bold;
}

.pullquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4375em;
}

.text a {
  text-decoration: underline;
}
.text ul {
  list-style: disc;
  margin: 0 0 1rem 1.2em;
}
.text ul ul {
  margin-bottom: 0;
}
.text ol {
  list-style: decimal;
  margin: 0 0 1rem 1.2em;
}
.text ol ol {
  margin-bottom: 0;
}


