<p class="intro">
  {{ article-content.intro }}
</p>

<p>
  {{ article-content.p1 }}
</p>

{{> base-figure }} 

<p>
  {{ article-content.p2 }}
</p>

{{> base-blockquote }} 

<p>
  {{ article-content.p3 }}
</p>

<p>
  {{ article-content.p4 }}
</p>

<p>
  {{ article-content.p5 }}
</p>
