&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
&Tab;{{&gt; patterns-header }}
&Tab;&lt;div role=&quot;main&quot;&gt;
&Tab;&Tab;
&Tab;&Tab;&lt;div class=&quot;layout-single&quot;&gt;
&Tab;&Tab;&Tab;&lt;h1 class=&quot;section-title&quot;&gt;Our Outdoor Blog&lt;/h1&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;
&Tab;&Tab;&lt;div class=&quot;sidebar-layout&quot;&gt;
&Tab;&Tab;&Tab;&lt;div class=&quot;sidebar-layout__main&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;section class=&quot;section latest-posts&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;ul class=&quot;post-list&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;{{&gt; components-thumbnail-block }}&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;{{&gt; components-thumbnail-block }}&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;li&gt;{{&gt; components-thumbnail-block }}&lt;/li&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/ul&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=&quot;javascript:void(0)&quot; class=&quot;text-btn&quot;&gt;View more posts&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/section&gt;
&Tab;&Tab;&Tab;&Tab;{{&gt; components-pagination }}
&Tab;&Tab;&Tab;&lt;/div&gt;&lt;!--end l-main--&gt;

&Tab;&Tab;&Tab;&lt;div class=&quot;sidebar-layout__sidebar&quot;&gt;
&Tab;&Tab;&Tab;&Tab;&lt;h5&gt;Sidebar stuff here!&lt;/h5&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;&lt;!--end l-sidebar--&gt;
&Tab;&Tab;&lt;/div&gt;&lt;!--end two-col--&gt;
&Tab;&lt;/div&gt;&lt;!--End role=main--&gt;
&Tab;{{&gt; patterns-footer }}
&lt;/div&gt;