<ol class="c-pagination">
	<li class="c-pagination__current">
    <a href="javascript:void(0)">1</a>
  </li>
	
  <li>
    <a href="javascript:void(0)">2</a>
  </li>
	
  <li>
    <a href="javascript:void(0)">3</a>
  </li>
	
  <li>
    <a href="javascript:void(0)">4</a>
  </li>
	
  <li>
    <a href="javascript:void(0)">5</a>
  </li>
	
  <li>
    <a href="javascript:void(0)">6</a>
  </li>
	
  <li>
    <a href="javascript:void(0)">7</a>
  </li>
</ol>