&lt;section class=&quot;p-related-posts&quot;&gt;
&Tab;&lt;h4 class=&quot;p-related-posts__title&quot;&gt;
    Related Posts
  &lt;/h4&gt;
&Tab;
  &lt;ul class=&quot;p-related-posts__list&quot;&gt;&Tab;
    {{# latest-posts }}
      &lt;li&gt;
        &lt;a href=&quot;javascript:void(0)&quot;&gt;{{ headline.medium }}&lt;/a&gt;
      &lt;/li&gt;
    {{/ latest-posts }}
&Tab;&lt;/ul&gt;
&lt;/section&gt;