<!--sg-controls-->
<div id="sg-controls">
	<ol class="sg-controls-list">
		{{# ishControlsVisible.find }}
			<li class="sg-find">
				<ul class="sg-view sg-acc-panel sg-right sg-checklist" id="sg-find">
					<li>
						<input class="typeahead" id="typeahead" type="text" placeholder="Search for a pattern...">
					</li>
				</ul>
			</li>
		{{/ ishControlsVisible.find }}

		{{# ishControlsVisible.views-all }}
			<li>
				<a href="javascript:void(0)" id="sg-t-toggle" title="View">
					<span class="h-is-vishidden">
						View
					</span>
				</a>
				
				<ul id="sg-view" class="sg-controls-submenu">
					{{# ishControlsVisible.views-annotations }}
						<a href="javascript:void(0)" id="sg-t-annotations" class="sg-menu-toggle">
							<li class="sg-main-item">
								Annotations
							</li>
						</a>
					{{/ ishControlsVisible.views-annotations }}
					
					{{# ishControlsVisible.views-code }}
						<a href="javascript:void(0)" id="sg-t-code" class="sg-menu-toggle">
							<li class="sg-main-item">
								Code
							</li>
						</a>
					{{/ ishControlsVisible.views-code }}

					
					{{# ishControlsVisible.views-new }}
						<a href="javascript:void(0)" target="_blank" id="sg-raw">
							<li class="sg-main-item h-is-vishidden">
								Open in new window
							</li>
						</a>
					{{/ ishControlsVisible.views-new }}
				</ul>
			</li>
		{{/ ishControlsVisible.views-all }}

		{{# ishControlsVisible.tools-all }}
			{{# ishControlsVisible.tools-sync }}
				<a href="http://localhost:3001" target="_blank" id="syncButton" data-state="off">
					<li class="sg-main-item">
						BrowserSync UI
					</li>
				</a>
			{{/ ishControlsVisible.tools-sync }}
			
			{{# ishControlsVisible.tools-docs }}
				<a href="http://patternlab.io/docs/" target="_blank">
					<li class="sg-main-item">
						Pattern Lab Docs
					</li>
				</a>
			{{/ ishControlsVisible.tools-docs }}
		{{/ ishControlsVisible.tools-all }}
	</ol>
</div>
<!--End #sg-controls-->







<!--
<div class="sg-controls" id="sg-controls">
	<div class="sg-control-content">
		<ul class="sg-control">
			<li class="sg-size">
				<div class="sg-current-size">
					<form id="sg-form">
						Size <input type="text" class="sg-input sg-size-px" value="---">px /
						<input type="text" class="sg-input sg-size-em" value="---">em
					</form>
				</div>
				<ul class="sg-acc-panel sg-size-options">
					{{# ishControlsVisible.s }}
						<li>
							<a href="javascript:void(0)" id="sg-size-s">
								S
							</a>
						</li>
					{{/ ishControlsVisible.s }}
					
					{{# ishControlsVisible.m }}
						<li>
							<a href="javascript:void(0)" id="sg-size-m">
								M
							</a>
						</li>
					{{/ ishControlsVisible.m }}
					
					{{# ishControlsVisible.l }}
						<li>
							<a href="javascript:void(0)" id="sg-size-l">
								L
							</a>
						</li>
					{{/ ishControlsVisible.l }}
					
					{{# ishControlsVisible.full }}
						<li>
							<a href="javascript:void(0)" id="sg-size-full">
								Full
							</a>
						</li>
					{{/ ishControlsVisible.full }}
					
					{{# ishControlsVisible.random }}
						<li>
							<a href="javascript:void(0)" id="sg-size-random">
								Random
							</a>
						</li>
					{{/ ishControlsVisible.random }}

					{{# ishControlsVisible.disco }}
						<li>
							<a href="javascript:void(0)" class="mode-link" id="sg-size-disco">
								Disco
							</a>
						</li>
					{{/ ishControlsVisible.disco }}

					{{# ishControlsVisible.hay }}
						<li>
							<a href="javascript:void(0)" class="mode-link" id="sg-size-hay">
								Hay!
							</a>
						</li>
					{{/ ishControlsVisible.hay }}
				</ul>
			</li>

			{{# ishControlsVisible.mqs }}
				<li class="sg-mqs">
					<a href="javascript:void(0)" class="mode-link sg-acc-handle" id="sg-size-mq" title="Media queries in stylesheet">
						MQ
					</a>
					
					<ul class="sg-acc-panel sg-left" id="sg-mq">
						{{# mqs }}
							<li>
								<a href="javascript:void(0)">
									{{ . }}
								</a>
							</li>
						{{/ mqs }}
					</ul>
				</li>
			{{/ ishControlsVisible.mqs }}
			
			{{# ishControlsVisible.find }}
				<li class="sg-find">
					<a href="javascript:void(0)" class="sg-acc-handle sg-control-trigger sg-icon sg-icon-search" id="sg-f-toggle" title="Search Patterns">
						<span class="h-is-vishidden">
							Search Patterns
						</span>
					</a>
					
					<ul class="sg-view sg-acc-panel sg-right sg-checklist" id="sg-find" style="margin-top: 33px;">
						<li>
							<input class="typeahead" id="typeahead" type="text" placeholder="search for a pattern...">
						</li>
					</ul>
				</li>
			{{/ ishControlsVisible.find }}
			
			{{# ishControlsVisible.views-all }}
				<li class="sg-view">
					<a href="javascript:void(0)" class="sg-acc-handle sg-control-trigger sg-icon sg-icon-eye" id="sg-t-toggle" title="View">
						<span class="h-is-vishidden">
							View
						</span>
					</a>
					
					<ul class="sg-view sg-acc-panel sg-right sg-checklist" id="sg-view">
						{{# ishControlsVisible.views-annotations }}
							<li>
								<a href="javascript:void(0)" class="sg-checkbox" id="sg-t-annotations">
									Annotations
								</a>
							</li>
						{{/ ishControlsVisible.views-annotations }}
						
						{{# ishControlsVisible.views-code }}
							<li>
								<a href="javascript:void(0)" class="sg-checkbox" id="sg-t-code">
									Code
								</a>
							</li>
						{{/ ishControlsVisible.views-code }}

						{{# ishControlsVisible.views-new }}
							<li>
								<a href="javascript:void(0)" target="_blank" id="sg-raw" class="sg-icon-link">
									Open in new window
								</a>
							</li>
						{{/ ishControlsVisible.views-new }}
					</ul>
				</li>
			{{/ ishControlsVisible.views-all }}
			
			{{# ishControlsVisible.tools-all }}
				<li class="sg-tools">
					<a href="javascript:void(0)" class="sg-acc-handle sg-tools-toggle sg-icon sg-icon-cog" id="sg-tools-toggle" title="Tools">
						<span class="h-is-vishidden">
							Tools
						</span>
					</a>
					
					<ul class="sg-acc-panel sg-right sg-checklist">
						{{# ishControlsVisible.tools-sync }}
							<li>
								<a href="http://localhost:3001" target="_blank" id="syncButton" class="sg-checkbox sg-auto-reload" data-state="off">
									BrowserSync UI
								</a>
							</li>
						{{/ ishControlsVisible.tools-sync }}
						
						{{# ishControlsVisible.tools-shortcuts }}
							<li>
								<a href="http://patternlab.io/docs/advanced-keyboard-shortcuts.html" class="sg-icon-keyboard" target="_blank">
									Keyboard Shortcuts
								</a>
							</li>
						{{/ ishControlsVisible.tools-shortcuts }}
						
						{{# ishControlsVisible.tools-docs }}
							<li>
								<a href="http://patternlab.io/docs/" class="sg-icon-file" target="_blank">Pattern Lab Docs
								</a>
							</li>
						{{/ ishControlsVisible.tools-docs }}
					</ul>
				</li>
			{{/ ishControlsVisible.tools-all }}
		</ul>
	</div>
</div>
-->


