<div class="sg-nav">
	<ol class="sg-nav__buckets">
		{{# buckets }}
			<li data-a11y-toggle="toggle-{{ bucketNameLC }}" class="sg-main-item sg-nav-{{ bucketNameLC }}">

				<span class="sg-main-item-text">
					{{ bucketNameUC }}
				</span>

				<i class="sg-item-arrow fa fa-angle-down"></i>

				<ol id="toggle-{{ bucketNameLC }}" class="sg-nav__sections section">
					{{# navItems }}
						<li data-a11y-toggle="toggle-{{ bucketNameUC }}-sub-{{ sectionNameLC }}" class="sg-nav-{{ sectionNameLC }}">

							<span class="sg-nav__section-text">
								{{ sectionNameUC }}
							</span>

							<i class="sg-item-arrow fa fa-angle-down"></i>

							<ol id="toggle-{{ bucketNameUC }}-sub-{{ sectionNameLC }}" class="sg-nav__sub-items">
								{{# navSubItems }}

								<a href="patterns/{{ patternPath }}" class="{{# patternState }}sg-pattern-state {{ patternState }}{{/ patternState }}" data-patternpartial="{{ patternPartial }}">
									<li>
										<span class="sg-nav__section-text">
											{{ patternName }}
										</span>
									</li>
								</a>

								{{/ navSubItems }}
							</ol>
						</li>
					{{/ navItems }}
					{{# patternItems }}
						<li class="sg-pop">
							<a href="patterns/{{ patternPath }}" class="{{# patternState }}sg-pattern-state {{ patternState }}{{/ patternState }}"" data-patternpartial="{{ patternPartial }}">
								<span class="sg-nav__section-text">
									{{ patternName }}
								</span>
							</a>
					{{/ patternItems }}
				</ol>
			</li>
		{{/ buckets }}

		<a class="sg-main-item sg-main-item-text" href="styleguide/html/styleguide.html" data-patternpartial="all">
			<li>
				Kitchen Sink
			</li>
		</a>


		<li class="sg-main-item">
			
			<span data-a11y-toggle="toggle__screen-sizes" class="sg-main-item-text">
				Sizes
			</span>

			<i class="sg-item-arrow fa fa-angle-down"></i>

			<ol id="toggle__screen-sizes" class="sg-nav__sections section">
				<li data-screen-size="smallest">
					<span class="sg-nav__section-text">
						Smallest
					</span>
				</li>

				<li data-screen-size="small">
					<span class="sg-nav__section-text">
						Small
					</span>
				</li>

				<li data-screen-size="medium">
					<span class="sg-nav__section-text">
						Medium
					</span>
				</li>

				<li data-screen-size="large">
					<span class="sg-nav__section-text">
						Large
					</span>
				</li>

				<li data-screen-size="full">
					<span class="sg-nav__section-text">
						Full
					</span>
				</li>
			</ol>
		</li>
	</ol>
</div>



<!--
<ol class="sg-nav">
	{{# buckets }}
		<li class="sg-nav-{{ bucketNameLC }}">
			<a class="sg-acc-handle">
				{{ bucketNameUC }}
			</a>
			<ol class="sg-acc-panel">
				{{# navItems }}
					<li class="sg-nav-{{ sectionNameLC }}">
						<a class="sg-acc-handle">
							{{ sectionNameUC }}
						</a>
						<ol class="sg-acc-panel">
							{{# navSubItems }}

							<li>
								<a href="patterns/{{ patternPath }}" class="sg-pop  {{# patternState }}sg-pattern-state {{ patternState }}{{/ patternState }}" data-patternpartial="{{ patternPartial }}">
									{{ patternName }}
								</a>
							</li>

							{{/ navSubItems }}
						</ol>
					</li>
				{{/ navItems }}
				{{# patternItems }}
					<li>
						<a href="patterns/{{ patternPath }}" class="sg-pop {{# patternState }}sg-pattern-state {{ patternState }}{{/ patternState }}"" data-patternpartial="{{ patternPartial }}">
							{{ patternName }}
						</a>
					</li>
				{{/ patternItems }}
			</ol>
		</li>
	{{/ buckets }}

	<li>
		<a href="styleguide/html/styleguide.html" class="sg-pop" data-patternpartial="all">
			All
		</a>
	</li>
</ol>
-->