&lt;div class=&quot;c-block--thumb&quot;&gt;
  &lt;a href=&quot;javascript:void(0)&quot; class=&quot;b-inner&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;c-block__thumb&quot;&gt;
&Tab;&Tab;&Tab;&lt;img src=&quot;{{ img.square.src }}&quot; alt=&quot;{{ img.landscape-16x9.alt }}&quot; /&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;c-block__text&quot;&gt;
&Tab;&Tab;&Tab;&lt;h4 class=&quot;c-block__headline&quot;&gt;{{ headline.short }}&lt;/h4&gt;
&Tab;&Tab;&Tab;&lt;p class=&quot;c-block__excerpt&quot;&gt;{{ excerpt.medium }}&lt;/p&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/a&gt;
&lt;/div&gt;