<section class="section related-posts">
	<h3 class="section-title">Recent Tweets</h3>
	<ul class="headline-list">
		<li>
			<a href="#">Headline Lorem ipsum dolor sit amet</a>
		</li>
		
		<li>
			<a href="#">Laborum, molestiae, rerum, dolores eveniet </a>
		</li>
		
		<li>
			<a href="#">quae est fugit distinctio iure odit minus non ipsum </a>
		</li>
		
		<li>
			<a href="#">dolorum deserunt omnis voluptates voluptatum</a>
		</li>
		
		<li>
			<a href="#">nventore dignissimos vel molestiae, rerum, dolore</a>
		</li>
		
		<li>
			<a href="#"></a>
		</li>
	</ul>
	<a href="#" class="text-btn">Follow us on Twitter</a>
</section>