

/* Completely remove from the flow and screen readers. */
.h-is-hidden {
  display: none !important;
  visibility: hidden !important;
}


/* Floats */
.h-right { float: right; }

.h-left { float: left; }

.h-clear { @include clearfix(); }

/* Text-Align */
.h-align-right { text-align: right; }
.h-align-center { text-align: center; }
.h-align-left { text-align: left; }


/* Emphasis Colors */
.h-valid { color: color(success); }
.h-error { color: color(alert); }
.h-warn { color: color(warning); }
.h-info { color: color(info); }


.h-is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
