// See if the clearfixes can be removed
// Need to remove the layouts' dependency on them

/* Clearfix */
.cf, .l-two-col, [role=main] {
  @include clearfix();
}


/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}


/* Floats */
.right { float: right; }

.left { float: left; }

.clear { @include clearfix(); }

/* Text-Align */
.align-right { text-align: right; }

.align-center { text-align: center; }

.align-left { text-align: left; }


/* Emphasis Colors */
.valid { color: color(success); }
.error { color: color(alert); }
.warn { color: color(warning); }
.info { color: color(info); }


.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
