// See if the clearfixes can be removed
// Need to remove the layouts' dependency on them

/* Clearfix */
.cf, .l-two-col, [role=main] {
  @include clearfix();
}


/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}


/* Floats */
.right { float: right; }

.left { float: left; }


/* Text-Align */
.align-right { text-align: right; }

.align-center { text-align: center; }

.align-left { text-align: left; }


/* Colors */
.valid { color: color(palette, green); }

.error { color: color(palette, red); }
