/*

These are all Sass maps that set the global variables used throughout the site

Rules:
1) No styles for elements can be declared here
2) Any variables not in maps must be prefixed with 'g-', and not be used on ANY other stylesheet. Please keep their names as short as possible
3) No map can reference a value in another map, only 'g-' vars if needed

*/


// ----- Grid Variables ----- //

$breakpoint-map: (
  small: em(480px),
  medium: em(787px),
  large: em(900px),
  huge: em(1200px)
);

// ----- Typography Variables ----- //

$typography-map: (
  font-families: (

  ),

  font-sizes: (
  
  ),

  line-heights: (

  ),
);

/*
$base-font-size: 100;
$line-height: 2;

$base: 16 * ($base-font-size / 100);
$base-rem: ($base-font-size / 100);
$leading: round($base * $line-height);
$leading-rem: $leading / $base;

$heading-font-family: $verdana;
$base-font-family: $lucida-grande;

$modular-scale-ratio: $minor-third;
$modular-scale-base: $base * 1px;  // Base font size for creating scaled font sizes.

$scaled-font-ratio: 0.8; // When the screen gets below a certain size, this is the percentage of the original font size the font becomes.
$scaled-breakpoint: $tablet-screen; // The screen width the text scales up to its original size

// This uses the Bourbon modular-scale function to create the structure of how fonts will be sized in the modular scale. An each loop is used to generate the scaled font sizes.
$modular-size-map: (
   h1: 6,
   h2: 5,
   h3: 4,
   h4: 3,
   h5: 2,
   h6: 1,
   blockquote: 1,
   p: 0,
);
 */

// ----- Color Variables ----- //

// The base primary
$g-primary-color: #999;

// Map for storing all color variables
$color-map: (
  primary: (
    lightest: tint($g-primary-color, 50%),
    light: tint($g-primary-color, 15%),
    base: $g-primary-color,
    dark: shade($g-primary-color, 15%),
    darkest: shade($g-primary-color, 50%)
  ),

  action: (
    base: #477dca
  ),
);



// ----- Form Variables ----- //

/*
// The inner shadow that appears in form input elements, such as check boxes.
$form-box-shadow: inset 0 ($line-height * 1px) ($line-height * 3px) rgba(#000, 0.06);
 */

// ----- Layout Variables ----- //

/*
$base-border-radius: $leading-rem * 0.25em; // Standard border-radius amount
$base-spacing: $leading-rem * 1em; // Basic spacing
$small-spacing: $base-spacing / 2; // Half of basic spacing

// Lays out the different z-index values to help keep them organized. Based off what commom elements they'd be used for.
$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001
);

// For the synapse grid
$synapse: (
  columns: 12,
  layouts: (
        xs:  0,
        sm:  $mobile-h-screen,
        md:  $tablet-screen,
        lg: $desktop-screen,
        xlg: $huge-screen
    ),
  spaceUnits: (
      $small-spacing,
      $base-spacing,
      ($base-spacing * 2),
      ($base-spacing * 3),
      ($base-spacing * 4)
    )
);

@mixin synapse-custom($var) {
  @if ($var == 'margin-auto') {
    margin: 0 auto;
  }
}
 */
