/*

These are all Sass maps that set the global variables used throughout the site

Rules:
1) No styles for elements can be declared here
2) Any variables not in maps must be prefixed with 'g-', and not be used on ANY other stylesheet. Please keep their names as short as possible
3) No map can reference a value in another map, only 'g-' vars if needed
4) Always use these variables on their own. Never use them in operations to output different values, like dividing one in half. Always add this value to the map instead.

*/


// ----- Grid Variables ----- //

$breakpoint-map: (
  small: em(480px),
  medium: em(787px),
  large: em(900px),
  max-width: em(1200px)
);

// ----- Typography Variables ----- //

// Bourbon var to determine the modular scale
// in their function to return consistent, scaled values
$modular-scale-ratio: $minor-third;

// Bourbon var to set the starting font size
// in the modular scale functions
$modular-scale-base: em(16px);

$typography-map: (
  font-family: (
    sans: $lucida-grande,
    serif: $verdana,
    mono: $monospace
  ),

  font-size: (
    h1: modular-scale(6),
    h2: modular-scale(5),
    h3: modular-scale(4),
    h4: modular-scale(3),
    h5: modular-scale(2),
    h6: modular-scale(1),
    base: modular-scale(0)
  ),

  font-weight: (
    bold: 700,
    base: 400,
    light: 100
  ),

  line-height: (
    h1: modular-scale(3),
    h2: modular-scale(3),
    h3: modular-scale(3),
    h4: modular-scale(3),
    h5: modular-scale(2),
    h6: modular-scale(2),
    base: modular-scale(2)
  ),
);


// ----- Color Variables ----- //

// The base primary
$g-primary-color: #999;
$g-primary-action-color: #477dca;


// Map for storing all color variables
$color-map: (
  primary: (
    lightest: #fff,
    lighter: tint($g-primary-color, 60%),
    light: tint($g-primary-color, 15%),
    base: $g-primary-color,
    dark: shade($g-primary-color, 15%),
    darker: shade($g-primary-color, 60%),
    darkest: #000
  ),

  action: (
    base: $g-primary-action-color,
    hover: shade($g-primary-action-color, 15%)
  ),

  palette: (
    red: red,
    green: green,
    blue: blue
  ),
);




// ----- Layout Variables ----- //

// Lays out the different z-index values to help keep them organized. Based off what commom elements they'd be used for.
$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001
);


$g-base-spacing: 1em;

// Spacing units for padding, margin, etc
$spacing-map: (
  triple: ($g-base-spacing * 3),
  double: ($g-base-spacing * 2),

  base: $g-base-spacing,

  half: ($g-base-spacing / 2),
  third: ($g-base-spacing / 3),
  quarter: ($g-base-spacing / 4),
  fifth: ($g-base-spacing / 5),
  sixth: ($g-base-spacing / 6),
  eigth: ($g-base-spacing / 8)
);


// ----- Container Variables ----- //


$containers-map: (
  border: (
    base: 1px solid $g-primary-color,
    dark: 1px solid shade($g-primary-color, 15%)
  ),

  borderRadius: (
    base: 3px
  ),

  dropShadow: (
    base: 1px 1px 3px #000
  ),

  fill: (
    base: tint($g-primary-color, 50%),
    dark: tint($g-primary-color, 15%)
  ),

  margin: (
    base: $g-base-spacing
  ),

  padding: (
    half: ($g-base-spacing / 2),
    base: $g-base-spacing,
    large: ($g-base-spacing * 2)
  )
);
