<section class="p-latest-posts">
	<h4 class="p-latest-posts__title">
    Latest Posts
  </h4>
	
  <ul class="p-latest-posts__list">
    {{# latest-posts }}
  		<li>{{> components-thumbnail-block }}</li>
    {{/ latest-posts }}
	</ul>

	<a href="javascript:void(0)" class="p-latest-posts__view-more">View more posts</a>
</section>