<section class="section related-posts">
	<h3 class="section-title">Related Posts</h3>
	<ul class="headline-list">	
    <li>
      <a href="javascript:void(0)">Headline Lorem ipsum dolor sit amet</a>
    </li>
		
    <li>
      <a href="javascript:void(0)">Laborum, molestiae, rerum, dolores eveniet </a>
    </li>
		
    <li>
      <a href="javascript:void(0)">quae est fugit distinctio iure odit minus non ipsum </a>
    </li>
		
    <li>
      <a href="javascript:void(0)">dolorum deserunt omnis voluptates voluptatum</a>
    </li>
		
    <li>
      <a href="javascript:void(0)">nventore dignissimos vel molestiae, rerum, dolore</a>
    </li>
		
    <li>
      <a href="javascript:void(0)"></a>
    </li>
	</ul>
</section>