&lt;div class=&quot;block block--thumb&quot;&gt;
  &lt;a href=&quot;javascript:void(0)&quot; class=&quot;b-inner&quot;&gt;
&Tab;&Tab;&lt;div class=&quot;block__thumb&quot;&gt;
&Tab;&Tab;&Tab;{{&gt; base-square }}
&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;div class=&quot;block__text&quot;&gt;
&Tab;&Tab;&Tab;&lt;h4 class=&quot;block__headline&quot;&gt;{{ headline.short }}&lt;/h4&gt;
&Tab;&Tab;&Tab;&lt;p class=&quot;block__excerpt&quot;&gt;{{ excerpt.medium }}&lt;/p&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/a&gt;
&lt;/div&gt;