<div class="c-block--inset">
    <a href="javascript:void(0)" class="inner">
		<div class="c-block__thumb">
			<img src="{{ img.landscape-4x3.src }}" alt="{{ img.landscape-4x3.alt }}" />
		</div>
		<div class="c-block__text">
			<h5 class="c-block__headline">{{ headline.short }}</h5>
		</div>
	</a>
</div>