&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;p-footer&quot; role=&quot;contentinfo&quot;&gt;
&Tab;&lt;div class=&quot;p-footer__links&quot;&gt;
    {{&gt; components-footer-nav }}
  &lt;/div&gt;

&Tab;&Tab;&lt;div class=&quot;p-footer__copyright&quot;&gt;
      &lt;p&gt;
        &amp;copy; 2015 Company Name. All rights reserved.
      &lt;/p&gt;
    &lt;/div&gt;
&Tab;&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;
