&lt;div class=&quot;b-logo&quot;&gt;
  &lt;a href=&quot;{{ link.pages-homepage }}&quot;&gt;
    &lt;img src=&quot;../../images/logo.png&quot; class=&quot;b-logo__img&quot; alt=&quot;Logo Alt Text&quot; /&gt;
  &lt;/a&gt;
&lt;/div&gt;
