&lt;section class=&quot;p-latest-posts&quot;&gt;
&Tab;&lt;h4 class=&quot;p-latest-posts__title&quot;&gt;
    Latest Posts
  &lt;/h4&gt;
&Tab;
  &lt;ul class=&quot;p-latest-posts__list&quot;&gt;
    {{# latest-posts }}
  &Tab;&Tab;&lt;li&gt;{{&gt; components-thumbnail-block }}&lt;/li&gt;
    {{/ latest-posts }}
&Tab;&lt;/ul&gt;

&Tab;&lt;a href=&quot;javascript:void(0)&quot; class=&quot;p-latest-posts__view-more&quot;&gt;View more posts&lt;/a&gt;
&lt;/section&gt;